{% extends 'Layout/base.html.twig' %}

{% block content %}
	{% for presentation in presentations %}
		<div class="panel panel-primary">
			<div class="panel-heading text-center"><h4>{{ 'sadasdasdas' }} - {{ presentation.title }}</h4></div>
  			<div class="panel-body">
  				<div class="row">
					<div class="col-md-8">{{ presentation.description }}</div>
					<div class="col-md-4">
						<video controls class="img-thumbnail presentation">
							<source src="{{ path('stream', {'path' : presentation.path}) }}" type="video/mp4">
							Your browser does not support HTML5 video.
						</video>
					</div>
				</div>
  			</div>
  			<div class="panel-footer">
  				<div id="targetKeep"></div>
				<div id="targetKeep-hint" class="input hint"></div>
  			</div>


		</div>
	{% endfor %}
	{% if paginator.hasNextPage() %}
		<li>
		    <a href="{{ path('homepage',{page: paginator.getNextPage()}) }}">Następny</a>
		</li>
	{% endif %}
{% endblock %}
