<div class="container">

    <div class="row">
        {% if is_granted('ROLE_USER') %}
            <div class="col-sm-3">
                <img
                        src="https://graph.facebook.com/{{ app.security.token.uid }}/picture?type=large"
                        alt="nie ma"
                        class="img-circle"
                        />
            </div>
            <div class="col-sm-3">

                <p>Get the hell out of here  {{ app.security.token.user.username }}!</p>

                {#  #}
                {# <br>{{ app.security.token.user.email }} #}

                {# {{ app.security.token.first_name }} #}

                {# {{ app.security.token.user.fid }} #}
                {# {{  dump(app.security.token) }} #}

                <br><a class="btn btn-primary" href="{{ path('logout') }}">Logout</a>
            </div>

        {% else %}
            <div class="col-sm-3">
                <img class="img-circle" src="http://www.strangebeaver.com/wp-content/uploads/2011/01/fb/4.jpg" alt="nie ma"/>
            </div>
            <div class="col-sm-3">
                <h1>Zaloguj</h1>
                <p>Witaj nieznajomy!</p>

                <br><a class="btn btn-primary" href="{{ login_paths.facebook }}">Login with Facebook</a>
            </div>

        {% endif %}
    </div>
</div>
